<mat-nav-list>
  <!-- TODO: Add navigation menu items -->
  <a mat-list-item routerLink="/tables" routerLinkActive="active">
    <mat-icon>table_restaurant</mat-icon>
    <span>Tables</span>
  </a>
  <a mat-list-item routerLink="/queue" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>Queue</span>
  </a>
  <a mat-list-item routerLink="/reservation" routerLinkActive="active">
    <mat-icon>event</mat-icon>
    <span>Reservations</span>
  </a>
  <a mat-list-item routerLink="/manager" routerLinkActive="active">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Manager</span>
  </a>
</mat-nav-list>
